@charset "UTF-8";

/* COLOUR DEFINITIONS */

:root {
    --color-white: #ffffff;
    --color-light-gray: #efefef;
    --color-gray: #d8d8d8;
    --color-black: #000000;
    --color-highlight: #b4e7f8; 
    --color-iridian-blue : #073cdf;
}  