@charset 'UTF-8';

// --------------------------------------------------------------------------- //
// SENSIBLE DEFAULTS & NORMALIZATION //
// --------------------------------------------------------------------------- //

// This Stylesheet contains defaults/resets/normalization that gives a blank slate and can be used for most of the projects //

*,
*:after,
*:before {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    width: 100%;
    color: var(--color-black);
    background-color: var(--color-bg-white);
    // Always show the vertical scrollbar to prevent jumps
    // of page content after navigating from a very short page
    // that does not scroll to a long pager //
    overflow-y: scroll;
    // Setting this to default prevents the cursors from
    // changing when hovering blocks of text or whitespace,
    // which is less distracting //
    cursor: default;
    // Neccessary for sticky footer. //
    position: relative;
    min-height: 100%;
    // Prevent adjustments of font size after orientation
    // changes in IE and iOS. //
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    min-width: 280px;
    margin: 0;
    padding: 0;
}

// Firefox specific rule //
@-moz-document url-prefix() {
    body {
        font-weight: bolder !important;
    }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    // Add correct display for IE 9- and some newer browsers //
    display: block;
}

mark {
    background-color: rgba($color: var(--color-highlight), $alpha: 0);
}

.text {
    max-width: 100%;
}

i,
em {
    font-style: normal;
}

ul,
ol {
    list-style: none;
}

img,
figure,
video {
    all: unset;
    border-style: none;
    width: 100%;
    height: auto;
    display: block; // to remove the small gap when there's whitespace between image tags
}

::-moz-selection {
    background: var(--color-highlight);
    color: var(--color-black);
}

::selection {
    background: var(--color-highlight);
    color: var(--color-black);
}

// --------------------------------------------------------------------------- //
// SITE SPECIFIC DEFAULTS //
// --------------------------------------------------------------------------- //

// Here come a few default settings that are not further defined in any other module/template

.main {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 11rem; // offset menu animation
}

nav {

    // 'underline' that goes behind text //
    a:before {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        bottom: .125rem;
        background: var(--color-highlight);
        height: .35rem;
        z-index: -1;
    }
}

article {
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    overflow: hidden;
    
    p {
        margin-bottom: 1rem;
    }
}

article:first-of-type,
article:first-of-type p {
    margin-top: 0;
}

.bildunterschrift {
    color: var(--color-gray);
    margin-top: .5rem;
}

.social-options {
    margin-bottom: 1rem;
}

// MODALS
.modal {
    display: block;
    position: fixed;
    background: var(--color-black);
    color: var(--color-white);
    z-index: 99999;
    padding: 1rem;

    a {
        text-decoration: underline;
    }
}

#modal--gdpr {
    bottom: 0;
    right: 0;
    left: 0;
}

#modal--translation {
    top: 0;
    right: 0;
    left: 0;
    padding-bottom: .25rem;
}

.translation--img {
    width: 1.6rem;
    height: auto;
}

// -----  KEYVISUAL TREATMENT  ----------------------------------------------- //
// --------------------------------------------------------------------------- //

// Create a hidden pseudo-element that projects a fading shadow over the image
// include the shadow for the end state
.keyvisual::before {
    content: '';
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 1rem 1.5rem var(--color-white);
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

// Fade in the pseudo-element with the bigger shadow
.keyvisual:hover::before {
    opacity: 1;
}

// -----  CHAPTER LINES SEPERATING LONG TEXTS  ------------------------------- //
// --------------------------------------------------------------------------- //

hr {
    font-size: 1rem;
    height: 1.2rem;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.6rem;
    padding: 0;
    color: var(--color-light-gray);
    width: 100%;
}

hr::before {
    content: "";
    position: relative;
    display: block;
    background: currentColor;
    height: 2px;
    top: calc(50% + 1px);
}

hr::after {
    content: "01";
    font-weight: 800;
    color: var(--color-light-gray);
    background: var(--color-white);
    position: relative;
    padding: 0 0.25rem;
    top: 0.025rem;
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 480px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 480px) {
    // TODO - Changing of the padding for outer whitespace occurs on too
    // many different module parts. Maybe a variable shoul be created for that
    .main {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 768px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 768px) {
    // TODO - Changing of the padding for outer whitespace occurs on too
    // many different module parts. Maybe a variable shoul be created for that
    .main {
        margin-top: 13rem;
    }
}


// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1024px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 1024px) {
    .main {
        margin-top: 6.5rem; // offset menu animation
        margin-bottom: 3rem;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1280px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 1280px) {
    .main {
        margin-top: 8rem; // offset menu animation
    }

    article {
        width: 75%;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1440px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 1440px) {
    .main {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    article p {
        margin-bottom: 2rem;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1680px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 1680px) {
    .main {
        padding-left: 6rem;
        padding-right: 6rem;
        margin-bottom: 6rem;
    }

    article {
        width: 65%;
    }

    article p {
        margin-bottom: 3rem;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1920px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 1920px) {
    .main {
        padding-left: 9rem;
        padding-right: 9rem;
    }

    article {
        width: 60%;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 2160px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 2160px) {
    .main {
        padding-left: 15rem;
        padding-right: 15rem;
        margin-bottom: 3rem;
    }
}