@charset 'UTF-8';

// --------------------------------------------------------------------------- //
// HEADER & NAVIGATION
// --------------------------------------------------------------------------- //

footer {
    margin: 0 1rem;
    margin-bottom: 1rem;

    .branding {
        width: 50%;
        margin: 1em 0;
    }

    em {
        font-family: var(--font-sans);
        font-weight: 700;
        letter-spacing: 0;
    }

    .section__bottom {
        margin-top: 2rem;
        margin-bottom: 1.25rem;
        color: var(--color-gray);
        
        a {
            text-decoration: underline;
        }
    }
} 

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 480px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 480px) {
    footer {
        margin: 0;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1280px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 1280px) {
    footer {
        .branding {
            width: 25%;
        }
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1440px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 1440px) {
    footer {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1920px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 1920px) {
    footer {
        padding-left: 9rem;
        padding-right: 9rem;
    }
}