@charset 'UTF-8';

// --------------------------------------------------------------------------- //
// HEADER & NAVIGATION
// --------------------------------------------------------------------------- //

#header {
    padding-top: 0.5rem;
    position: fixed;
    top: 0;
    z-index: 9999;
    background: var(--color-white);
    width: 100%;
    padding-bottom: 1rem;

    .branding {
        width: 50%;
        margin: 1em 0;
        margin-left: 1rem;
    }

    .navigation,
    .languages {
        padding: 0 1rem;
        width: 50%;
        float: left;
    }

}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 480px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 480px) {
    #header {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1024px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 1024px) {
    #header {
        padding-bottom: 0;

        .branding {
            width: 33%;
            float: left;
        }
        
        #mainmenu {
            position: absolute;
            right: 3rem;
        }

        .navigation,
        .languages {
            width: auto;
            padding: 0%;
            line-height: 4rem;

            li {
                display: inline;
                padding-right: 1rem;
            }

            a:before {
                display: none;
            }

            a {
                border-bottom: 2px solid var(--color-highlight);
            }
        }

        .languages li:last-of-type {
            padding-right: 0;
        }
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1280px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 1280px) {
    #header {
        padding-top: 1.25rem;

        .branding {
            width: 30%;
        }
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1440px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 1440px) {
    #header {
        .branding {
            width: 20%;
            margin-left: 2rem;
        }

        #mainmenu {
            right: 4rem;
        }
    }
}


// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1680px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 1680px) {
    #header {
        .branding {
            margin-left: 4rem;
        }

        #mainmenu {
            right: 6rem;
        }
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1920px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 1920px) {
    #header {
        .branding {
            margin-left: 7rem;
        }

        #mainmenu {
            right: 9rem;
        }
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 2160px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 2160px) {
    #header {
        padding-bottom: .5rem;
        
        .branding {
            margin-left: 13rem;
            width: 15%;
        }

        #mainmenu {
            right: 15rem;
        }

        .navigation,
        .languages {
            line-height: 3rem;
        }
    }
}