@charset 'UTF-8';

// --------------------------------------------------------------------------- //
// HEADER & NAVIGATION
// --------------------------------------------------------------------------- //

#header {
    padding-top: 0.5rem;
    position: fixed;
    top: 0;
    z-index: 9999;
    background: var(--color-white);
    width: 100%;
    padding-bottom: 1rem;

    .branding {
        width: 50%;
        margin: 1em 0;
        margin-left: 1rem;
    }

    .navigation,
    .languages {
        padding: 0 1rem;
        width: 50%;
        float: left;
    }

}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 480px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 480px) {
    #header {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}