@charset 'UTF-8';

// --------------------------------------------------------------------------- //
// HEADER & NAVIGATION
// --------------------------------------------------------------------------- //

header {
    padding-top: .5rem;

    .branding {
        width: 50%;
        margin: 1em 0;
        margin-left: 1rem;
    }

    nav {
        margin: 0 1rem;
    }
}