@charset "UTF-8";
/*  
  This CSS File is used as the BREAKPOINT for above 1001px (Large Tablets & Medium Devices) 
*/

@media screen and (min-width: 1001px) { 
  
/* -----  1.3 General Typography  ----------------------------------------- */

/* slightly upscale all typography */
html {
  font-size: 1.3em;
  line-height: 1.25em;
}
  
h1, h2, h3, h4, p, ul {
  padding: 0 2.75rem;
}
  
h1 {
  font-size: 10vw;
  padding-right: 10vw;
}

/* -----  1.4 Images & Figures  ------------------------------------------- */
  
  .keyvisual {
    padding-bottom: 52.25%;
  }
  
  .keyvisual img {
    left: 0;
  }

/* ========================================================================== */
/* =====  2 LAYOUT HELPERS & REUSABLE COMPONENTS  =========================== */
/* ========================================================================== */

/* -----  2.1 Section-Header / Intro --------------------------------------- */
 
.intro.articles,
.intro.projects {
  margin-top: 1rem;
  margin-bottom: 4rem;
  width: 50%;
}
  
/* -----  2.3 Grid & Layout  ---------------------------------------------- */

.grid.gutter-1 { 
  margin: 0;
}

.grid.gutter-1 .column {
  margin-bottom: 6rem;
}

.grid.gutter-1 .column:first-child,
.grid.gutter-1 .column:nth-child(2n+3) {
  padding-left: 2.75rem;
  padding-right: 1.5rem;
}

.grid.gutter-1 .column:nth-child(2n) {
  padding-left: 1.5rem;
  padding-right: 2.75rem;
}

/* -----  2.5 Projects Showcase ------------------------------------------- */

.showcase-item {
  margin: 0;
  padding: 0;
}

.showcase-item img {
    width: auto;
    height: 100%;
}

.showcase-link {
  padding-top: 130%;
}

.showcase h1 {
  padding-right: 3vw;
}

/* align with waterDistortion */
/* .showcase.grid {
  margin-top: 8.25rem;
} */

.showcase-image-wrap {
  top: .75rem;
  bottom: .75rem;
}

.showcase-caption {
  top: -.9vh;
  bottom: -1.25vh;
}

/* -----  2.6 Articles ---------------------------------------------------- */

article h2, 
article h3,
article p, 
article ul {
  padding: 0;
}
  
article {
  padding: 0 2.75rem;
}

article blockquote p {
  padding: .5rem .75rem;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
}

/* -----  2.8 Related (Projects, Articles, etc.) Showcase  ---------------- */

.related {
  padding-bottom: .25rem;
  margin-bottom: 2.5rem;
}

.rel-article-showcase-title {
  font-size: 1.35rem;
}

.rel-article-showcase-title, 
.rel-article-showcase h4,
.rel-article-showcase .tags p{
  padding-left: 0.75rem;
}

.rel-article-showcase .tags h4 {
  bottom: 1.15rem;
}

.projects-section-more {
  margin-bottom: 4.5rem;
}

.rel-article-showcase-item {
  width: 25%;
}

.rel-article-showcase.grid {
  padding-left: 5%;
  padding-right: 5%;
}
  
  
/* ======================================================================== */
/* =====  3 SITE LAYOUT  ================================================== */
/* ======================================================================== */

/* -----  3.1  Header  ---------------------------------------------------- */

.branding {
  margin-top: 1.5rem;
  width: 20%;
}
  
.branding,
.footer .branding {
  margin-left: 2.75rem;
}

/* -----  3.2 Menu  ------------------------------------------------------- */

.pagination {
    padding: 0 2.75rem;
}

/* ======================================================================== */
/* =====  4 TEMPLATE SPECIFIC COMPONENTS  ================================= */
/* ======================================================================== */
  
/* -----  4.1 Homepage  --------------------------------------------------- */

.showreel {
  margin-top: 1.25rem;
  margin-left: 2.75rem;
  margin-right: 2.75rem;
  margin-bottom: 4rem;
}
  
.showreel h1 {
  font-size: 15vh;
  top: 35%;
  padding-right: 2.75rem;
}

.home canvas {
  margin-top: 25rem;
}
  
/* -----  4.4 About  ------------------------------------------------------ */

.moods li {
  padding-left: 0;
  padding-right: 0;
}
  
.visitenkarte {
    width: 50%;
}
  
.linklist p {
    width: 33%;
}
  
} /* Closing the Media Query */

