@charset 'UTF-8';

// --------------------------------------------------------------------------- //
// PROJECT SINGLE VIEW
// --------------------------------------------------------------------------- //

.project__single {

}

.project__single--gallery {
    li {
        margin-bottom: 1rem;
    }

    li:last-of-type {
        margin-bottom: 0;
    }
} 

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 480px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 480px) {
    .meta {
        margin-bottom: 1rem;
    }
    
    .social-options li {
        display: inline;
        padding-right: .5rem;

        a:before {
            display: none;
        }

        a {
            border-bottom: 2px solid var(--color-highlight);
        }
    }
}