@charset 'UTF-8';

// --------------------------------------------------------------------------- //
// PROJECTS SHOWCASE SECTION
// --------------------------------------------------------------------------- //

.projects__showcase {

}

.projects__showcase--more {
    text-align: center;
    margin-top: 1.5rem;
}

// --------------------------------------------------------------------------- //
// OLD STYLES MOVED OVER FROM GRID
// --------------------------------------------------------------------------- //

.grid {
    font-size: 0;
}

.grid__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.column {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    vertical-align: top;
}

.grid__item--image {
    overflow: hidden;
    height: 90vw;
    position: relative;
    z-index: 9;
}

.grid__item--image--inside {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
}

// deprecated
.grid.gutter-1 {
    padding: 0;
}

@media screen and (min-width: 480px) {
    .grid__item--image {
        height: 60vw;
    }

    // deprecated
    .grid.gutter-1,
    .grid.gutter-1 .column {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

/* --------------------------------------------------------------------------- */
/* PROJECT SHOWCASE DEFINITIONS 
/* --------------------------------------------------------------------------- */

.showcase-caption {
    z-index: 999;
}

.showcase,
.showcase-item {
    position: relative;
}

.showcase-item {
    margin-bottom: 1.25rem;
}

.showcase-item:last-of-type {
    margin-bottom: 0;
}

.showcase-link {
    border: none;
    display: block;
    position: relative;
    padding: 1rem 0;
}

.showcase-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Placing the whole showcase-title on top of link box ... */
.showcase-title {
    color: var(--color-black);
    text-align: center;
    width: 100%;
    height: 100%;
    /* Vertically center the caption */
    position: absolute;
    -webkit-transition: 0.5s color;
    transition: 0.5s color;
    will-change: color;
}

/* ... and displaying the marked portion on bottom of link box */
.showcase-title mark {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.showcase .tags {
    color: var(--color-white);
    text-align: center;
    width: 34%;
    margin: 0 auto;
    display: none;
}

.showcase-link:hover .showcase-title,
.showcase-link:focus .showcase-title,
.showcase-link:hover .showcase-title mark,
.showcase-link:focus .showcase-title mark {
    color: var(--color-highlight);
}

.showcase-link:hover .showcase-image,
.showcase-link:focus .showcase-image {
    opacity: 0.8;
}

@media (any-hover: none) {
    .showcase-caption {
        /* The media query, enclosing these rules matches only
       touch-screen devices that do not support hover due
       to the lack of a pointing device like a mouse.
       It does not work in all mobile browsers, but
       progressively enhances the experience on supported
       devices. Tested in Safari (iOS) 9.3 */
        opacity: 1;
        /* Reset will-change property to keep it from eating
       up unneccessary resources on touch-only devices */
        will-change: auto;
    }
}

/* ----- Showreel  ----------------------------------------------------------- */

.showreel {
    position: relative;
    margin-bottom: 1.25rem;
}

.showreel video,
.showreel img {
    z-index: -1;
    width: 100%;
    height: auto;
}

.showreel--title {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-black);
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* old styles for middle alignment */
    top: 37%;
    bottom: 37%;
    height: 26%;
}
