@charset 'UTF-8';

// --------------------------------------------------------------------------- //
// MAIN TYPOGRAPHIC DEFINITIONS
// --------------------------------------------------------------------------- //

:root {
    --font-sans: 'Rajdhani','source sans', helvetica, arial, sans-serif;
    --font-serif: 'Roboto Mono', 'Courier New', Courier, monospace;
    font-size: 18px;
}  

// Main font //
html {
    color: var(--color-black);
    font-family: var(--font-sans);
    font-size: 1.25em;
    line-height: 1.25em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    font-kerning: normal;
}

// Secondary Font //
i, em, blockquote p,
.articles-section .intro p {
  font-family: var(--font-serif);
  line-height: 1.25em;
}

// Reset font-sizes and normalize margins //
h1, h2, h3, h4, p, ul, ol {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
  }

// Headline Reset //
h1, h2, h3, h4 {
    display: block;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

h1 {
    letter-spacing: .05em;
    font-size: 12vw;
    line-height: .85em;
    text-transform: uppercase;
    margin-bottom: 3rem;
    padding-top: .5rem;
    padding-bottom: 0;
} 

h2, h3 {
    color: var(--color-gray);
    text-transform: uppercase;
    font-size: 1.25em;
    letter-spacing: .05em;
}

// Links //
a {
    color: inherit;
    text-decoration: none;
    position: relative;
}
  
// 'underline' that goes behind text //
a:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    bottom: .125rem;
    background: var(--color-highlight);
    height: .35rem;
    z-index: -1;
}
  
.branding a:before,
.showcase-item a:before,
.related__showcase--item a:before {
    display: none;
}
  
a:hover, a:focus, a:active {
    color: var(--color-highlight);
}

b, strong {
    font-weight: bold;
    font-weight: 700;
}

em {
    font-style: normal;
}

// Paragraph Styling //
.content p,
.content blockquote { // main body copy area
    padding-bottom: 1rem;
}


// Upscaling the base font size across the whole site for bigger displays
@media screen and (min-width: 768px) {
    :root {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1440px) {
    :root {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1680) {
    :root {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1920px) {
    :root {
        font-size: 1.6rem;
    }
}

// This differentiates between Multiple Media Query resolutions on different physical device sizes to accomodate proportions on older monitors. 
// TODO - The approach has to be tested and evalutated if it is functioning reliably
@media 
screen and (min-width: 1920px) and ( -webkit-min-device-pixel-ratio: 1.25 ),
screen and (min-width: 1920px) and ( -webkit-min-device-pixel-ratio: 1.25 ),
screen and (min-width: 1920px) and ( min--moz-device-pixel-ratio: 1.25 ), 
screen and (min-width: 1920px) and ( -o-min-device-pixel-ratio: 1.25 / 1 ),
screen and (min-width: 1920px) and ( min-device-pixel-ratio: 1.25 ),
screen and (min-width: 1920px) and ( min-resolution: 170dpi ),
screen and (min-width: 1920px) and ( min-resolution: 1.25dppx ) {
    :root {
        font-size: 1.6rem;
    }
}


@media screen and (min-width: 2160px) {
    :root {
        font-size: 1.8rem;
    }
}